
@model IEnumerable<SyncPlayer.Common.DTOs.AudioFileDto>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index page</title>
    
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
</head>
<body>
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>File Source</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    <tr>
                        <td>@file.Title</td>
                        <td>@file.Description</td>
                        <td>@file.FileSource</td>
                        <td>@file.Url</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
